body{
  margin:0;
  overflow:hidden;
  background:#111;
  color:white;
  font-family:Arial;
}

#ui{
  position:absolute;
  top:10px;
  left:10px;
}

.player{
  position:absolute;
  width:40px;
  height:40px;
  background:steelblue;
}

.enemy{
  position:absolute;
  width:40px;
  height:40px;
  background:crimson;
}

.sword{
  position:absolute;
  width:60px;
  background-size: contain;
  transform-origin:left center;
}

#world {
    position: absolute;
    width: 3000px;
    height: 2000px;
    background: #9c25dcae;
}

#end {
  position: absolute;
  left: 2800px;
  top: 0;
  width: 200px;
  height: 500px;
  background: gold;
  opacity: 0.5;
}

.hit{
    position: absolute;
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
    pointer-events: none;
    animation: hitAnim 0.3s forwards;
}
.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #8be9ff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  box-shadow: 0 0 6px #8be9ff;
  animation: particleFade 0.8s forwards;
}

.loot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(circle, #bdefff, #4fdfff);
  box-shadow: 0 0 8px #4fdfff;
  pointer-events: none;
  transition: transform 0.2s, box-shadow 0.1s;
}

#winScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none !important;
}

.win-box {
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  animation: popIn 0.4s ease;
}

.win-box h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.win-box button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.win-box button:hover {
  transform: scale(1.1);
}

@keyframes popIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes particleFade {
  to {
    transform: translate(var(--dx), var(--dy)) scale(0.3);
    opacity: 0;
  }
}

@keyframes hitAnim {
    from{
        transition: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(3);
        opacity: 3;
    }
}


/* Level design: Platforms*/
.platform {
  position: absolute;
  background: #444;
  border: 2px solid #666;
}
